// Define font families
$primary-font-family: 'Arial', sans-serif;
$heading-font-family: 'Georgia', serif;
$secondary-heading-font-family: 'Helvetica', sans-serif;
$code-font-family: 'Courier New', monospace;

.arial {
    font-family: 'Arial', sans-serif;
}


.georgia {
    font-family: 'Georgia', serif;
}

.helvetica {
    font-family: 'Helvetica', sans-serif;
}

.courier {
    font-family: 'Courier New', monospace;
}